body{
    background-color: rgb(228, 213, 213);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    height: 100vh;
}

.calculator_body{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(133, 130, 130);
    gap: 5px;
    padding: 15px;
    border-radius: 10px;
}

button{ 
    background-color: brown;
    color: white;
    font-size: 100px;
    border: 5px solid black;
    padding: 3px;
    border-radius: 10px;
}

#calculator_display{
    background-color: white;
    padding: 5px;
    width: 495px;
    height: 120px;
    border: 5px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    font-size: 100px;
    justify-content: flex-end;
    align-items: center;
}

.buttons_grid{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px 120px;
    gap: 5px;
}

.button_clear{
    grid-column: span 2;
}

.button_back{
    grid-column: span 2;
}
